.Rproj.user
.Rhistory
.RData
.Ruserdata
/.vs
directory_structure.txt
*.log
debug_covar.log
debug_delta.log
debug_misc.log
debug_trees.log
*.RData
/tasks
/.cursor
/.vscode
inst/doc
docs/
/data-raw
/tex_draft
/vignettes/cache
